name: Matrix-manual
run-name: Matrix settings manually
on:
  workflow_dispatch:
defaults:
  run:
    shell: bash
jobs:
  print:
    timeout-minutes: 1
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            node: '18'
          - os: ubuntu-latest
            node: '20'
          - os: windows-latest
            node: '18'
          - os: windows-latest
            node: '20'
    name: "OS: ${{ matrix.os }}, Node: ${{ matrix.node }}"
    runs-on: ${{ matrix.os }}
    steps:
      - run: |
          echo "This is running on OS: ${{ matrix.os }} with Node.js version: ${{ matrix.node }}"
