name: Old-dependabot
run-name: old-dependabot sample
on:
  workflow_dispatch:
defaults:
  run:
    shell: bash
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    name: old-dependabot job
    steps:
      - name: Just set up using old version
        uses: actions/setup-go@v6
