name: Publish
run-name: Publish package
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
        description: "セマンティックバージョン (例: 1.0.0)"
env:
  IMAGE_NAME: gha-image
jobs:
  publish:
    runs-on: ubuntu-latest
    name: Publish Docker Image
    timeout-minutes: 1
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/metadata-action@v5
        id: meta
        with:
          images: ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}},value=v${{ inputs.version }}
            type=raw,value=latest

      - uses: docker/build-push-action@v6
        with:
          push: true
          context: docker/example/
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
